.scrollindicator{
    width: 100%;
    height: 15px; /* height of progress bar */
    display: block;
    background: white;
    left: 0;
    bottom: 0;/* dock progress bar to bottom of page (change to "top" for top instead) */
    cursor: pointer;
    position: fixed;
    z-index: 1000000;
    visibility: hidden;
    -webkit-transition: height .2s ease;
    transition: height .2s ease;
}

.scrollprogress{
    position: absolute;
    width: 100%;
    height: 100%;
    background:#0087ea;/* background color of progress bar */
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(0,-100%,0);
    -webkit-transition: -webkit-transform .4s ease; 
    transition: transform .4s ease; /* animate progress bar? Remove to disable */
}

.scroll-bottom {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;
	background-color: #999;
	opacity: .8;
	width: 170px;
	height: 50px;
	border-radius: 50%;
	border: none;
	color: #fff;
}
.scroll-bottom:hover {
	cursor: pointer;
}